<SPOTIFY_CLIENT_ID>abcdef123456</SPOTIFY_CLIENT_ID>
<SPOTIFY_CLIENT_SECRET>abcdef123456</SPOTIFY_CLIENT_SECRET>
<SPOTIFY_PLAYLIST_ID>642abc531</SPOTIFY_PLAYLIST_ID>
<SPOTIFY_PLAYLIST_NUMBER_OF_SONGS>50</SPOTIFY_PLAYLIST_NUMBER_OF_SONGS>
<YOUTUBE_API_KEY>ABcdef-ab_c-sgf3e236sdfvSDfw3sa6t</YOUTUBE_API_KEY>
<DISCORD_OAUTH_CLIENT_ID>1234567890</DISCORD_OAUTH_CLIENT_ID>
<DISCORD_OAUTH_CLIENT_SECRET>ABC13651234sdghs3GSsdf42</DISCORD_OAUTH_CLIENT_SECRET>
<DISCORD_BOT_TOKEN>C4ntB4sk3dToM4keUpToken</DISCORD_BOT_TOKEN>
<DISCORD_GUILD_ID>1234567890</DISCORD_GUILD_ID>
<DISCORD_INTERNAL_CHANNEL>0987654321</DISCORD_INTERNAL_CHANNEL>
<DISCORD_PUBLIC_CHANNEL>1357908642</DISCORD_PUBLIC_CHANNEL>
<EMBED_COLOR>#522783</EMBED_COLOR>
<LOG_COLOR>#FFBA26</LOG_COLOR>
<ERROR_COLOR>#FF0000</ERROR_COLOR>
<USER_DAILY_LIMIT>3</USER_DAILY_LIMIT>
<LOG_LEVEL_DISCORD>2</LOG_LEVEL_DISCORD>
<LOG_LEVEL_FILE>1</LOG_LEVEL_FILE>
<MAX_LEVENSHTEIN_DISTANCE>15</MAX_LEVENSHTEIN_DISTANCE>
<SHOW_ACTIVITY_INTERNAL>True</SHOW_ACTIVITY_INTERNAL>